body {
  font-family: sans-serif;
}

#linkedin-logo {
    width: 150px;
    margin-left: 30px;
}
#para-font {
  font-size: 12px;
}

#tbl-heading {
  text-align: left;
}
#forgot-pwd {
  text-align: left;
  font-size: 12px;
}

.tables {
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 9px;
  padding: 20px;
  margin-top: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#text-box {
  border-radius: 6px;
  padding: 10px;
  width: 240px;
  height: 20px;
  margin-top: 15px;
  transition-property: border;
  transition: 750ms;
}

#text-box:hover {
  border: 2px solid rgb(38, 137, 171);
}

.table-header {
  padding: 10px;
  font-size: 30px;
  font-family: sans-serif;
}

.btn {
  padding: 12px;
  width: 260px;
  margin: 0 auto;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  background-color: rgb(38, 137, 171);
}
